* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.App {
  background-color: #f1ede6 ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

.App::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  
  
  z-index: 1;
}

@keyframes twinkle {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.star {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: twinkle 2s ease-in-out infinite;
}

.star1 {
  width: 2px;
  height: 2px;
  background-color: #000;
}

.star2 {
  width: 3px;
  height: 3px;
  background-color: #000;
  animation-delay: 0.2s;
}

.star3 {
  width: 4px;
  height: 4px;
  background-color: #000;
  animation-delay: 0.4s;
}
