.add-new-game {
  background-color: #1b1b1b;
  border: 2px solid white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  color: #ffffff;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.add-new-game h2 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.add-new-game .form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.add-new-game label {
  font-size: 1.1rem;
  margin-bottom: 8px;
}

.add-new-game input,
.add-new-game select {
  padding: 8px;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  color: #000000;
}

.add-new-game select[multiple] {
  height: 150px;
}


